DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydatabase
MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SECURE=false
JWT_SECRET_KEY=super-secret-key-change-in-production-please
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin