DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/mydatabase
LABEL_STUDIO_URL=http://localhost:8080
LABEL_STUDIO_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoicmVmcmVzaCIsImV4cCI6ODA5MTU5NDAzOSwiaWF0IjoxNzg0Mzk0MDM5LCJqdGkiOiI2MWU3ZjkxNjcxYTE0YmMzYmMyNDNmZjljMzRmMzgxOCIsInVzZXJfaWQiOiIxIn0.Qu6_yNUfWjaCxFpAyAilBjccLS1yX0IBctiKovW0l1o
MINIO_ENDPOINT=localhost:9000
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_SECURE=false
JWT_SECRET_KEY=super-secret-key-change-in-production-please
MLFLOW_TRACKING_URI=http://localhost:5001
MLFLOW_S3_ENDPOINT_URL=http://minio:9000
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
MLFLOW_BACKEND_STORE_URI=postgresql://myuser:mypassword@db:5432/mlflow